@charset "UTF-8";

/*
Pequenas Telas: até 600px;

Celular: De 600px até 768;

Tablet: de 768 a 992px;

Desktop: de 992 a 1200 px;

Grandes Telas: Acima de 1200px;
*/

@media screen and (min-width: 600px) and (max-width: 768px) {
    header > nav {
        margin: 0px auto 0px auto;
        min-width: 300px;
        padding: 10px;
    }

    main {
        max-width: 570px;
    }

    main > section > article > div.curse-html5 > .img004 > source {
        border-radius: 20px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    header > nav {
        margin: 0px auto 0px auto;
        min-width: 400px;
        padding: 10px;
    }

    main {
        max-width: 670px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    header > nav {
        margin: 0px auto 0px auto;
        min-width: 500px;
        padding: 10px;
    }

    main {
        max-width: 770px;
    }

    main > section > span#fundo-py {
        display: flex;
        background-image: url(../imagens/fundo-py-grande.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        height: 700px;
        box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.527);
    }
}

@media screen and (min-width: 1200px) {
    header > nav {
        margin: 0px auto 0px auto;
        min-width: 500px;
        padding: 10px;
    }
    
    main {
        max-width: max-content;
    }

    main p {
        margin: 0px auto;
        text-align: justify;
        max-width: 63%;
    }

    /*
    CONFIGURAÇÕES DOS VIDEOS EM TELAS 
    */

    main > section > article > .curse-html > .color-white,
    main > section > article > .curse-html5 > .color-module2,
    main > section > article > .curse-html > .module3,
    main > section > article > .curse-html3 > .module5{
        width: 70%;
        margin: 0px auto;
        box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.212);
    }

    main > section > article > .curse-html2 > .video-modulo4 {
        border-radius: 12px;
        width: 80%;
        margin: 0px auto;
        box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.185);
    }



    main > section > span#fundo-py {
        display: flex;
        background-image: url(../imagens/fundo-py-grande.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        height: 700px;
    }
}