@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100vw;
}

:root {
    --cor01: #1D1073;
    --cor010: #2209c4a6;
    --cor02: #0903A6;
    --cor020: #2e2aaac0;
    --cor03: #BBBFBA;
    --cor04: #735449;
    --cor05: #A67165;

    --font01: "Bodoni Moda SC", serif;;
    --font02: "Judson", serif;
    --font03: "Jersey 10", sans-serif;
    --font04: "Share Tech Mono", monospace;
}

body {
    background-image: url(../imagens/fundo-projeto-.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* CONFIGURAÇÕES ABAIXO SÃO PARA O HEADER E SEUS E ELEMENTOS FILHOS*/

header {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    height: 300px;

    background-color: var(--cor02);
    color: white;
    padding: 20px;
}

header > h3 {
    text-align: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.404);
}

header > nav {
    margin: 10px;
    padding: 10px;

}

header > nav > ul {
    justify-content: center;
    align-items: center;
}

header > nav > ul > li {
    padding: 10px;
    list-style-type: none;
    background-color: #010007;
    border-radius: 10px;
    text-align: center;
}


header > nav > ul > li:hover {
    background-color: #09003dc7;
    cursor: pointer;
}

header > nav > ul > li > i, a {
    color: white;
    padding: 5px;
    text-align: center;
    margin: auto;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

header > nav > ul > li > a:hover {
    color: rgb(159, 99, 255);
}

/* AS CONFIGURAÇÕES ABAIXO SE REFEREM AO MAIN E SEUS ELEMENTOS FILHOS*/

main {
    background-color: white;
    color: black;
    max-width: 480px;
    margin: auto;
    padding: 15px;
    min-height: 800px;
}

ul > li {
    list-style-type: none;
}


ul > li > a {
    color: black;
    text-decoration: none;
}

main ul > li > a:hover {
    color: #a1a1cc;
}

/* CONFIGURAÇÕES ABAIXO SE REFEREM AO SECTION CLASS GITHUB*/

main > .secao-github {
    background-color: #3733af86;
    min-height: 440px;
    padding: 15px;
    margin: 0px -15px;
}

main > .secao-github > aside {
    background-image: linear-gradient(to left, #0803a64d, #040070bd);
    text-decoration: 1px solid;
    margin: -30px -15px 0px -15px;
    padding: 25px;
}

main > .secao-github > aside a {
    margin: 5px;
    padding: 8px;
    color: #dbdbdb;
    transition: 0.5s;
}

main > .secao-github > aside a:hover {
    margin-left: 20px;
    transition: 0.5s ease-in-out;
}

main > .secao-github > aside i {
    color: #dbdbdb;
}

main > .secao-github > aside li {
    padding: 10px;
}


main > .secao-github > .foto {
    background-image: url(../imagens/html-css.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 230px;

    filter: grayscale(100%);
    border: 1px solid black;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.295);
    transition: 0.5s;
}

main > .secao-github > .foto:hover {
    filter: grayscale(0%);
    cursor: pointer;
    width: 365px;
    height: 245px;
    transition: 0.5s ease-in-out;
}


/* FUNDO IMAGEM*/

#fundo {
    height: 700px;
    margin: 0px -15px;
    background-image: url(../imagens/fundo-imagem.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/* CONFIGURAÇÕES ABAIXO SE REFEREM AO SECTION CLASS SITE RESTAURANTE*/

main > .secao-site-restaurante {
    min-height: 570px;
    padding: 15px;
    margin: 0px -15px 10px -15px;
    background-color: var(--cor020);
}

main > .secao-site-restaurante > ul {
    background-image: linear-gradient(to left, #0803a64d, #040070bd);
    text-decoration: 1px solid;
    margin: -15px -15px 0px -15px;
    height: 150px;
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-flow: column nowrap;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.342);
}

main > .secao-site-restaurante > ul > li {
    margin: 5px 10px;
    padding: 12px;
}

main > .secao-site-restaurante > ul > li i {
    color: white;
}

main > .secao-site-restaurante > ul > li a {
    margin: 5px;
    padding: 8px;
    transition: 0.5s;
    color: white;
}

main > .secao-site-restaurante > ul > li a:hover {
    margin-left: 20px;
    transition-duration: 1.1s ease-in-out;
    color: rgba(194, 194, 194, 0.767);
}

main > .secao-site-restaurante > .foto-restaurante {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 66px -15px 30px -15px;
    padding: 15px;
    border-radius: 0.8rem;
}

/* CONFIGURAÇÕES ABAIXO SE REFEREM AO SECTION CLASS PROJETO LOGIN*/

main > .secao-projeto-login {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-flow: row nowrap;
    min-height: 300px;

} 



/* CONFIGURAÇÕES ABAIXO SE REFEREM AO SECTION CLASS PROJETO SÃO BERNARDO*/


main > .secao-projeto-sao-bernardo {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 300px;
}

/* */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    color: white;
}