@charset "UTF-8";

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor01: #1D1073;
    --cor02: #0903A6;
    --cor03: #BBBFBA;
    --cor04: #735449;
    --cor05: #A67165;

    --font01: "Bodoni Moda SC", serif;;
    --font02: "Judson", serif;
    --font03: "Jersey 10", sans-serif;
    --font04: "Share Tech Mono", monospace;
    
}

/*
Pequenas Telas: até 600px;

Celular: De 600px até 768;

Tablet: de 768 a 992px;

Desktop: de 992 a 1200 px;

Grandes Telas: Acima de 1200px;
*/

@media screen and (max-width: 500px) {
    main {
        max-width: 450px;
        margin: auto;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    main {
        max-width: 570px;
    }

    header > nav > ul > li {
        max-width: 400px;
    }

    main > .secao-projeto-login {
        background-color: var(--cor01);
        margin: -10px 0px 0px 0px;
        display: flex;
        justify-content: start;
        flex-flow: column nowrap;
        height: 620px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        max-width: 670px;
    }

    header > nav > ul > li {
        max-width: 420px;
    }

    main > .secao-projeto-login {
        background-color: var(--cor01);
        margin: -10px 0px 0px 0px;
        display: flex;
        align-items: end;
        justify-content: space-around;
        flex-flow: column nowrap;
        height: 750px;
    }

    main > .secao-site-restaurante {
        min-height: 680px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main {
        max-width: 770px;
    }

    header > nav > ul > li {
        max-width: 450px;
    }

    main > .secao-projeto-login {
        background-color: var(--cor01);
        margin: -10px 0px 0px 0px;
        display: flex;
        align-items: end;
        justify-content: space-around;
        flex-flow: column nowrap;
        height: 790px;
    }
}

@media screen and (min-width: 1200px) {
    header > nav > ul > li {
        max-width: 500px;
    }

    main > .secao-github > aside i {
        display: none;
    }

    main > .secao-github > aside > ul > li {
        display: flex;
        justify-content: center;
        transition: none;
    }

    main > .secao-github > aside > ul > li > a {
        transition: none;
        margin: 0px;
        padding: 10px;
    }

    main > .secao-github > aside > ul > li > a:hover {
        margin-left: 0px;
    }

    main > .secao-projeto-login {
        background-color: var(--cor01);
        margin: -10px 0px 0px 0px;
        display: flex;
        align-items: end;
        justify-content: space-around;
        flex-flow: column nowrap;
        height: 880px;
    }
}