@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor01: #1D1073;
    --cor02: #0903A6;
    --cor03: #BBBFBA;
    --cor04: #735449;
    --cor05: #A67165;

    --font01: "Bodoni Moda SC", serif;;
    --font02: "Judson", serif;
    --font03: "Jersey 10", sans-serif;
    --font04: "Share Tech Mono", monospace;
    
}

body {
    background-image: url(../imagens/foto.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-image: linear-gradient(to top, #0803a69f, #14085e);
    height: 680px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header > nav#itens {
    display: flex;
    align-self: flex-end;
    flex-flow: row wrap;
}

header > nav#itens > ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;     
}

header >  nav#itens > ul > li {
    display: flex;
    background-color: var(--cor02);
    padding: 6px 14px;
    flex-flow: row wrap;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid white;
    flex-grow: 3;
    flex-basis: 400;
    margin: 10px 10px auto 10px;
    
}

header >  nav#itens > ul > li:hover {
    background-color: #050091;
    border-bottom: 2px solid rgb(85, 102, 255);
    transition: 0.6s ease;
    transition-duration: 0.6s;
}

header > nav#itens > ul > li > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header > h1 {
    align-self: center;
    color: #d8d8b6ef;
    margin: auto;
    text-align: center;
    padding: 20px 15px 10px 15px;
    max-width: 300px;
    font-size: 2.4em;
    font-family: var(--font03);
    text-shadow: 3px 2px 3px black;
}

header > h1:hover {
    color: #eeeeb9ef;
    cursor: pointer;
}

header > span#foto {
    border: 0.2px solid rgba(0, 0, 0, 0.507);
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.541);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-image: url(../imagens/minhafoto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
}

header > span#foto:hover {
    cursor: pointer;
}

main {
    margin: auto;
    max-width: 400px;
    background-color: white;
}

main p {
    line-height: 35px;
    text-align: justify;
    text-indent: 10px;
    padding: 15px;
    margin: 12px;
    font-size: 1.08em;
}

main p a {
    text-decoration: none;
    color: rgb(0, 5, 68);
    padding: 1px 6px 1px 6px;
    border-radius: 6px;
}

main p a:hover {
    text-decoration: 1px solid underline black;
    color: rgb(33, 0, 247);
    background-color: #9dffdabd;
    transition-duration: 0.7s;
    transition-delay: ease;
}

main > section.first {
    background-color: #0a02ee8a;
    margin-top: -20px;
}

h2 {
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-size: 2em;
    color: #0e063d;

}

main > section.first > p {
    color: white;
    margin: 20px 25px 10px 25px;
    padding: 15px;
    
}

main > section.first > span.imagem > picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

main > section.first > .imagem > picture > img {
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 3px 2px 4px #0800ff91;
}

main > section#img-first {
    background-image: url(../imagens/foto2.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    display: flex;
    margin-top: -10px;
}

main > section#img-first > article {
    margin: auto;
    justify-content: center;
    flex-flow: column wrap;
    display: flex;
    background-color: #1b869452;
    padding: 30px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.274);
}

main > section#img-first > article > i#down {
    color: rgb(255, 255, 255);
    font-size: 3em;
    align-self: center;
    padding-bottom: 40px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.404);
    margin-top: 40px;
}

main > section#img-first > article > h2 {
    color: #ffffff;
    text-shadow: 4px 2px 3px #ffffff44;
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    align-self: center;
}

main > section#img-first > article > i#up { 
    color: rgb(255, 255, 255);
    font-size: 3em;
    align-self: center;
    padding-top: 40px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.404);
    margin-bottom: 40px;
}

main > section.second {
    background-color: #20b2ab96;
    margin-top: -12px;
    padding: 0px 16px 12px 16px;
}

main > section.second > span > picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

main > section.second > span > picture > img {
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 4px 2px 4px #00000056;
}

main > section.terc > picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

main > section.terc > picture > img {
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 4px 2px 4px #00000056;
}

main > section#img-second {
    height: 600px;
    display: flex;
    background-image: url(../imagens/foto4-mod.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: opacity(80%);
}

main > section#img-second > article {
    margin: auto;
    justify-content: center;
    flex-flow: column wrap;
    display: flex;
    background-color: #1f1c80a2;
    padding: 30px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.274);
}

main > section#img-second > article > i#down {
    color: rgb(255, 255, 255);
    font-size: 3em;
    align-self: center;
    padding-bottom: 40px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.404)  
}

main > section#img-second > article > h2 {
    color: #ffffff;
    text-shadow: 4px 2px 3px #00000086;
    font-size: 2.5em;
}

main > section#img-second > article > i#up {
    color: rgb(255, 255, 255);
    font-size: 3em;
    align-self: center;
    padding-top: 40px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.404)
} 

main > section.terc > p {
    line-height: 2.7em;
    padding: 10px;
    margin: 10px;
}

main > section.terc > article > p {
    line-height: 2.7em;
    padding: 10px;
}

main > span#img-terc {
    height: 600px;
    display: block;
    background-image: url(../imagens/foto6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: opacity(80%);
}

section.quart {
    height: 600px;
    background-color: #393694;
    margin-top: 0px;
    display: flex;
}

section.quart > article {
    width: 300px;
    font-size: 18px;
    margin: 20px auto;
    align-self: center;
    border-radius: 16px;
}

section.quart > article > p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: var(--font02);
}



footer {
    background-color: var(--cor02);
    color: white;
    margin: 1px 0px 0px 0px;
    padding: 30px;
}

footer p {
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

footer p:hover {
    color: brown;
}

footer > #icon {
    display: flex;
    align-items: center;
    align-content: center;
}

footer > #icon a {
    margin: auto;
    padding-top: 40px;
    font-size: 1.3em;
}

footer > #icon a i {
    color: white;
}

footer > #icon a i:hover {
    color: green;
}

footer > #icon a i:active {
    color: yellow;
}